[2015-02-18 21:07] davidascher opened #1 "Design a shared business card for MWC to hand out URLs"
We can't hand out pretty collateral at MWC, so we're going to walk in with some handy business cards that point people to the MOI landing page.

This won't be a card for an individual, but for the program.  So, on the front, it should have at least:
- a heading/title: **Empowering the next billion citizens of the Web**
- mobileopportunity@mozilla.org
- webmaker.org/localweb

An idea @edrushka had

[2015-02-18 21:12] benrito commented on #1
+1 to @edrushka idea.

If it matches the color scheme and vibe of the site, something really simple with languages and a tag-line. Maybe "Webmaker: building a locally relevant web."

[2015-02-18 21:14] HPaulJohnson commented on #1
- Prominent Mozilla Webmaker brand/logo
- Subhead: "Empowering the next billion citizens of the Web" or (Ben's) "Building a locally relevant web."
- webmaker.org/localweb for URL
- +1 to communicating multiple languages.

[2015-02-18 21:15] benrito opened #2 "Finalize the Fox Den presentation"
For MWC. @HPaulJohnson @davidascher @cecilepompei @amirad

[2015-02-18 21:15] benrito commented on #2
https://www.dropbox.com/s/k6oxzcm5jbdbil4/DRAFT_Local_content_literacy_MWC2015.pdf?dl=0

[2015-02-18 21:16] edrushka commented on #1
I prefer "Empowering the next billion citizens of the Web" over "Building a locally relevant web." although fewer words might work better for design.

Do we want the shortlink or the full URL

Anyone have ideas on how to communicate multiple languages?

[2015-02-18 21:17] benrito commented on #2
Feedback please!

[2015-02-18 21:17] HPaulJohnson commented on #1
for printed format I prefer to the full URL.

[2015-02-18 21:18] davidascher commented on #1
Updated the initial comment with the decisions made so far.

[2015-02-18 21:44] davidascher commented on #2
Web journey graphic needs restyling.  In general, needs a bunch of typographic work.  Is that scheduled for later?

slide 15: let's not use a circle that forces the URL to be broken

Souktel logo is way too low-res.

[2015-02-18 21:59] amirad commented on #1
Agree on prominence of Mozilla AND Webmaker logo. Need a logo they will recognize and tie back to the booth.

The different language text on the backside is cool but I think a simple image might also suffice. Can even put the Mozilla Webmaker branding here.

[2015-02-19 02:09] HPaulJohnson commented on #2
Overall, looks really nice.

Slide 4: Think we could have a more exciting visual representation of Webmaker and our value proposition. I will come up with an alternative image.

Slide 33: As I mentioned to you this is the $ slide. Visually I wish it was more interesting and popped a little more given it's importance.

I need to give you a new picture of myself also (as I'm way too low-res).

[2015-02-19 19:43] cassiemc commented on #1
@davidascher  What is the timeline on this? when do we need to send to the printer, and do we have a printer in mind?

[2015-02-20 19:34] HPaulJohnson commented on #2
Some additional feedback/notes relaying from a meeting with Pete this morning:
- Slideshow theme is for FFOS. Might want to use general Mozilla theme instead. Not a huge deal.
- Add your job title to slide1
- Capitalize "Web" on slide 2
- Start with the problem statement: Access isn't enough and current mobile ecosystem doesn't invite empowerment or participation.
- Overall, reduce the number of s

[2015-02-23 13:24] sabrinang commented on #1
redpen: https://redpen.io/p/vb6460daf4448b5e80

[2015-02-23 17:55] benrito commented on #2
from @APLSmith

Slide 9: source should be w3techs, Ethnologue and GSMA
Slide 19: Missing a trick by not listing all communities that are localising? Graphic?

[2015-02-23 19:35] davidascher commented on #1
Timeline is I'm leaving Friday am. Will be printed in Vancouver. We need to
send to printer asap.

[2015-02-23 19:45] edrushka commented on #1
Who is making final decision on this? Can it be you, @davidascher?

[2015-02-23 21:50] davidascher commented on #1
It can.  Let me know what decisions you need.

[2015-02-23 21:57] edrushka commented on #1
Thanks! Ideally @sabrinang can do another version based on our feedback on the redpen, which you can sign off on tomorrow.

Also, @benrito @davidascher @HPaulJohnson -- just want to make sure you're aware Sabrina mocked up 3 different colours in the redpen. Click the "Next Design" button at the top to see the white and blue versions, and please indicate which you prefer. https://redpen.io/et595fc1

[2015-02-23 21:58] davidascher commented on #1
I prefer the white for writeability.

[2015-02-23 22:07] HPaulJohnson commented on #1
+1 to white version so that you could write down personal contact info if necessary.

[2015-02-24 17:50] edrushka commented on #1
Let's go with white. @sabrinang when can you have this finalized?

[2015-02-24 22:48] sabrinang commented on #1
https://www.dropbox.com/s/umcy9qz5v4r5da7/mozilla-webmaker_mobile-opportunity-MWC-2015-march_business-card-for-print.pdf?dl=0

(exported with 0.125 in bleed)

[2015-02-24 22:53] edrushka commented on #1
@sabrinang do you have the name of the printer, and who should best coordinate?

[2015-02-25 00:00] edrushka commented on #1
Update:
@davidascher took cards to printers. Will be ready for pickup Wed Feb 25 and he will bring to MWC. Thanks everyone!

[2015-02-25 00:03] amirad commented on #1
Thanks! Can't wait to flash those cards

[2015-02-25 19:09] davidascher commented on #1
Picked up the cards today.  Thanks all.

![2015-02-25 11 02 48](https://cloud.githubusercontent.com/assets/51278/6378221/c0701d1c-bcde-11e4-9b34-6a9c12403a8f.jpg)

[2015-02-25 19:09] #1 closed, assigned to sabrinang

[2015-02-26 10:26] benrito commented on #1
looking nice!

[2015-02-26 19:59] cassiemc commented on #1
Awesome, looks great! Make sure to leave one / bring some back for Sabrina =)

[2015-02-27 00:39] edrushka opened #3 "Testing codetree - ignore this"
Body body body This should be moved to top

[2015-02-27 00:40] edrushka opened #4 "Testing codetree - ignore this too"
This should be at the bottom??

[2015-02-27 19:28] edrushka commented on #4
a

[2015-03-05 23:22] edrushka commented on #2
Closing as MWC is now over.

[2015-03-05 23:22] #2 closed, assigned to benrito

[2015-03-17 15:41] #3 closed, assigned to edrushka

[2015-03-17 15:42] #4 closed, assigned to edrushka

[2015-03-17 15:48] edrushka opened #5 "Tweak 'Foundation Opportunity' dashboard in Salesforce"
The [Foundation Opportunity dashboard](https://na12.salesforce.com/01ZU0000000UQWG) in Salesforce needs a bit of attention.

Driver: @edrushka
Decision-maker: @benrito
Consulted: Lynn
Informed: @OpenMatt

@benrito please outline what you would like done

[2015-03-20 18:20] edrushka opened #6 "Urgent, P1: cat measurement needed"
:woman: :pensive: :question:
:cat: :straight_ruler: :banana: :interrobang:
@secretrobotron

[2015-03-20 18:48] secretrobotron commented on #6
Some questions before I sprint on this:
- do we have the right measuring tools for this? can file a service now request if not. budget?
- what units? centimeters? bananas?
- what format do you need the results in? can make a new site to publish, but should go through design review first

[2015-03-20 19:41] edrushka commented on #6
Thanks for these questions, @secretrobotron. Appreciate you gathering evidence to support your claim that your cat is, indeed, huge.

Non-organic bananas should be used as the measuring device as they are more consistent in size. As budget for this is $0, suggest you wear dark glasses, a fedora and an overcoat to disguise your identity, and steal from the TOR fruit basket. If caught, deny everythi

[2015-03-20 20:22] secretrobotron commented on #6
cc'ing @jdotpz to check with his schedule

[2015-03-20 20:24] jdotpz commented on #6
One observes that the measurement of cats using bananas is a fundamentally flawed methodology.

https://www.youtube.com/watch?v=VJjReLsq5DM

[2015-03-20 20:45] edrushka commented on #6
@jdotpz It seems you are correct. Initial testing with Shreddy resulted in [loss of banana](https://www.dropbox.com/s/46hiw2imkud1y6a/banana.jpeg?dl=0)

[2015-03-23 17:47] cecilepompei opened #7 "Orange Partnership - Finish Orange Klif proposal"
Driver: Cecile
Team: @amirad @benrito
- [x] Touch base with the French team
- [x] Write various cooperation options (internal)
- [x] Add figures and how much it would be to roll out a cooperation on digital literacy options @amirad
- [x] email @mobileopportunity for info

[2015-03-23 17:49] cecilepompei opened #8 "Orange partnership - Write a proposal for Orange Foundation (MVP)"
- [x] Write proposal to submit to Orange (Minimum viable partnership):
        - proposal for job creation, digital literacy classes, pilot in 1/2 incubators in Africa
- [x] Ask to be introduced to selected national foundation team
- [ ] pitch to local incubators in Africa
- [ ] Feasibility studies of how many job created through digital literacy course

cc @benrito

[2015-03-23 17:51] cecilepompei opened #9 "Feasibility study on relationship between digital literacy and job creation"
Team: @laurareynal & Cecile
cc @benrito

[2015-03-23 19:43] benrito commented on #8
Re: job creation—the Friday call with David Humphrey will help a lot!

Would be worthwhile to think about how we could pilot a program with Muzinda based on a unified model.

[2015-03-23 22:48] davidascher commented on #5
This doesn't feel like a dev-needing issue.  Who did the first version?

[2015-03-23 23:01] edrushka commented on #5
I do not know. Perhaps it was @secretrobotron?

[2015-03-24 00:19] benrito commented on #5
Currently in a meeting but will comment on this shortly

[2015-03-24 01:37] benrito commented on #9
sharing some notes on the career development idea. mark and i sketched these out yesterday—very early but hopefully food for thought

offer:
    a career development program that has participants make real shit alongside a global community, learning skills which are represented in mozilla developer certificates.

how will i produce this service?
    developing rails to help people get involved in

[2015-03-24 01:41] benrito commented on #5
We have designed a semi-public dashboard that will be generated based off the Salesforce database.

Building this will require some front-end engineering on top of Salesforce APIs.

Intuitively it shouldn't be too hard, but it will require someone to dive into VisualForce for a day or two: https://developer.salesforce.com/page/An_Introduction_to_Visualforce
![pipelinemockup](https://cloud.githubus

[2015-03-24 01:42] benrito commented on #5
This is what we're able to generate without doing any custom work with VisualForce:

![pipelinelive](https://cloud.githubusercontent.com/assets/541325/6794226/520ff35c-d18c-11e4-90ed-7294efd89b41.png)

[2015-03-24 10:22] cecilepompei opened #10 "Prepare Tech Change class"
Tech Change mHealth Class, given by Cecile, April for 60-90 minutes

Driver: Cecile
Team: @benrito
Interested: @corinagardner @HPaulJohnson @davidascher
- [x] Demo video on webmaker (3-5 minutes) to upload on tech change  cc @HPaulJohnson @thisandagain
- [x] Agree on using for the course the desktop version of webmaker versus mobile for the "students" attending
- [ ] Write a narrative for the clas

[2015-03-24 10:36] corinagardner opened #11 "Schedule pre-course office hour call"
This is a 30 minute call hosted by Techchange. There is no preparation or format it is just an open call for anyone playing with the app to be able to call in and ask technical questions. It needs to be decided who will be answering questions on this call.

[2015-03-24 10:50] lauradereynal commented on #10
Hey @cecilepompei
The only thing that seems unclear to me is : Why do you want to focus on desktop Webmaker ?

[2015-03-24 11:04] cecilepompei commented on #10
I don't want anything in particular, I ask product team what they prefer. Mobile better for me!

[2015-03-24 11:33] lauradereynal commented on #9
Thanks for the info Ben, happy to chat during our call.

[2015-03-24 15:29] cecilepompei commented on #9
On the founding side:
- Rockefeller Foundation > focus on Africa
- Inter development Bank (IDB) > focus on Latam
- Afdb
- USAID

have a focus on funding these types of projects

[2015-03-24 16:34] cecilepompei commented on #9
and a bit of data:
http://www.businessdailyafrica.com/Homeboyz-and-Microsoft-set-up-online-jobs-portal/-/1248928/2350726/-/12ukcho/-/index.html

On Tue, Mar 24, 2015 at 11:33 AM, Laura de Reynal notifications@github.com
wrote:

##

Cécile POMPEÏ
Mobile Service Lead, Webmaker.org
+44 75 98 490 115

[2015-03-24 17:02] thisandagain commented on #10
I don't understand why we would use the desktop product for this. Can you clarify where that direction is coming from?

[2015-03-24 17:23] benrito commented on #10
I think that this was Corina's suggestion. But agree with everyone that mobile is what we should be using. The desktop product is going to change a lot.

@cecilepompei, if you have time recommend watching: https://air.mozilla.org/new-webmaker-tool-prototype/ It'll help explain how we're going to reset the desktop product and why we should hold off on doing anything with Appmaker.

Cheers!
Ben

[2015-03-24 17:55] cecilepompei opened #12 "Support Souktel roll out/phase 2"
Phase 2: give phones to kids to test the webmaker app
Support Souktel developing the phase 2 of their roll-out

Dates: 8 weeks, start beginning of June

Driver: Cecile
Team: @laurareynal @amirad
Interested: @benrito @thisandagain @secretrobotron

TO DO:
- [x] PRODUCT (research) cc @LauraReynal
  Build Get research team to support Souktel in getting information to build Webmaker product
      - nex

[2015-03-24 18:03] lauradereynal commented on #12
@cecilepompei Can you share what has been done so far?
Im not aware of phase 1 :smile:

[2015-03-24 18:15] benrito commented on #12
Phase 1 is documented here: https://blog.mozilla.org/m4d/2015/02/26/building-apps-for-social-change-in-east-africa-and-southeast-asia/

Video of Cambodia event: http://youtu.be/yyOLU0OeSkc http://youtu.be/yyOLU0OeSkc

Apps created at Cambodia event (using Appmaker):

https://overjoyed-church-178.webmak.es/app https://overjoyed-church-178.webmak.es/app Edukids (Winning App) an app that aims for edu

[2015-03-24 18:16] cecilepompei commented on #12
How dare you not read our blog !!!
:)
https://blog.mozilla.org/m4d/2015/02/26/building-apps-for-social-change-in-east-africa-and-southeast-asia/

On Tue, Mar 24, 2015 at 6:03 PM, Laura de Reynal notifications@github.com
wrote:

##

Cécile POMPEÏ
Mobile Service Lead, Webmaker.org
+44 75 98 490 115

[2015-03-24 18:18] lauradereynal commented on #12
Thanks I had seen the blog post :)

[2015-03-24 21:39] amirad commented on #12
What's the time frame for V2? Is this a good audience to develop some curriculum around the new app that we can maybe test with clubs?

[2015-03-25 02:23] benrito opened #13 "World Bank S4YE RFP: Agreement on scope of work"
Driver: Ben
Team: @anmechung @metaphorista @irisbond
Interested: @cecilepompei @msurman

Tracking: https://docs.google.com/document/d/1RUE9U-ROXqfjSfhRskE6nN1mwKruBeKo1uHpIPiiARI/edit

[2015-03-25 02:25] benrito opened #14 "Gates Foundation FSP: agree on scope of work"
Driver: Ben
Team: @thisandagain @LauraReynal
Interested: @cecilepompei @msurman

Tracking here: https://foundation.etherpad.mozilla.org/gates-proposal?

[2015-03-25 02:26] benrito commented on #14
World Bank proposal taking priority this week: https://github.com/MozillaFoundation/Engagement/issues/13

Will clean up the scope of work ASAP so we can advance to the proposal writing phase.

Any thoughts or comments in the meantime appreciated.

Eyes on April 8th when y'all are headed to SF. We ought to be well done by then.

[2015-03-25 02:28] benrito opened #15 "Local content research: agree on new scope of research"
Driver: Ben
Team: @APLSmith
Interested: @cecilepompei @laurareynal @corinagardner @davidascher

Alex and Ben meeting March 25th to create document on scope of research.

Based on: https://foundation.etherpad.mozilla.org/local-content-research

[2015-03-25 02:29] benrito commented on #13
Parking lot:

https://docs.google.com/a/mozillafoundation.org/document/d/1ibTA69IHRhmLRR7StAnF5vjd9cpFCW8AROZAS_jqpDE/edit

https://foundation.etherpad.mozilla.org/sye

[2015-03-25 10:22] corinagardner commented on #10
I think the reason from my point of view is that it much easier to demo for a virtual class on a desktop screen share rather than trying to show through a webinar on your phone. Also, any students with iPhones will not be able to participate.

And a general question - don't we see the application for desktop webmaker being exactly for this crowd? Is it going to continue to be developed for the NGO

[2015-03-25 10:27] corinagardner commented on #10
Hi guys,

I left the comment above yesterday but for some reason it didn't save. I have since watched the call that Ben shared - thanks this is really helpful. While watching this it strikes me that webmaker has really moved away from the mobile tool that was focused on supporting the creation of local content and seems to be sidelining tools that focus on teaching creating mobile content, specifi

[2015-03-25 10:36] lauradereynal commented on #10
Hey Corina, I was writing an answer regarding TechChange. I think we can talk about the design issue you raise in our next meeting. I don't think its that far, and people will still be able to create content, however, we are trying to bring FUN into the product, which was a major feedback from all 3 countries. Right now Webmaker App is boring, both for the creator and the end user.

TechChange.
Ma

[2015-03-25 11:30] corinagardner commented on #10
@cecilepompei you may want to circle around with the TechChange guys to get their feedback on this, since the invite to do the course originally came after them seeing the appmaker tool. It is now a slightly different conversation and they might have some suggestions on how to deal with the limitations of webmaker mobile in the webinar format. The limitations being that 1) it is not easy to demo a

[2015-03-25 12:19] lauradereynal commented on #15
@APLSmith and I met earlier this week, and talked about this.
Our notes :
- Going back through all previous research notes, and see if we missed things
- For a second round of research, we would like to follow people for longer time - in order to better understand what they would create and what would happen when they start creating content
- We would sample the audience mentioned above according

[2015-03-25 14:05] cecilepompei commented on #13
Have field partner for south africa as well (great social entreprise, focus youth employment, very well known - check RLABS - could do testing with them too)

[2015-03-25 14:45] benrito opened #16 "World Bank S4YE RFP: Secure sponsor"
Driver: @anmechung
Supporting: @benrito @irisbond
Consulted: @metaphorista @msurman

"As the WBG holds the fiduciary responsibility for the trust fund, applicants need to show they have the endorsement of the relevant thematic and country/regional teams with the WBG."

"Please ensure that the local WBG team and Country Management Unit (CMU) is supportive of your application, as they will act as a

[2015-03-25 14:51] benrito opened #17 "World Bank S4YE RFP: Sub-divide research and writing"
Phone call on Thursday morning to agree on who will focus on what.

[2015-03-25 20:16] benrito commented on #15
Met today to incorporate Laura+APL's meeting, and to package.

We are finalizing tomorrow morning.

In meantime: https://foundation.etherpad.mozilla.org/local-content-research-share-out

[2015-03-25 20:22] benrito commented on #10
The Learning Products review is tomorrow and I think some of the market-fit and market strategy stuff will come up.

Agree that we need to better understand some of the pivot thinking with respect to the product. In the end I hope/expect it won't change our story too much.

[2015-03-25 20:32] benrito commented on #12
@amirad time frame is as soon as we can make it work!

Do you want to listen in on call tomorrow? 10:30ET

[2015-03-25 21:27] thisandagain commented on #14
:+1: Sounds good. Will find some time to drop some additional thoughts from latest product work early next week. Much appreciated.

[2015-03-25 21:28] lauradereynal commented on #15
Hey @benrito looks great !
One question: Your actual timeline does not include field time per say to conduct interviews ? Is this something you would want to schedule ?

[2015-03-26 09:35] corinagardner commented on #15
Hi team. Just curious if the econet partnership we just kicked off is going
to be captured here or is being treated as separate? Thanks!
On 25 Mar 2015 21:28, "Laura de Reynal" notifications@github.com wrote:

[2015-03-26 11:11] cecilepompei commented on #12
@amirad could you clarify please? I am preparing for building this phase 2 and would love all info to make sure i design it right to help

[2015-03-26 12:16] lauradereynal commented on #12
Here is a draft for the research / product feedback part of this project

_Countries_: Rwanda - Cambodia
_Phase 2_: People are receiving a phone. They will create content with Webmaker App.
_Objective_: Understand how youth perceive the Webmaker app after a long time spent using it.

_Questions_ cc @secretrobotron @thisandagain
- How would people qualify Webmaker / How do they see it ?
- Do they l

[2015-03-26 12:25] lauradereynal commented on #12
Need : Dates

[2015-03-26 13:58] amirad commented on #12
@benrito want to send me dial-info. Can silently listen in if you think that would help.
@cecilepompei I am hearing that we will eventually want a club module that is focused around the Webmaker App which means we will need to start building and testing activities with the product in the real world while teaching web literacy.

[2015-03-26 13:59] cecilepompei commented on #7
Re did the structure and think it is more straightforward now -- to put figures on this, I sadly (sadly because means more work) to get Amira's numbers
Ready when you are Amira! happy to do it over skype in 15 min if it makes it easier for you!

[2015-03-26 14:22] amirad commented on #7
I'm in the doc right now but have questions over the numbers (and hesitancy putting numbers!) to a lot of those community programs. Would love to talk it through first.

cc: @thornet should have a look at the doc https://docs.google.com/a/mozilla.com/document/d/1yphkofBq7jMAdqBD3QVkCkK1vfsLPOBdijHSKPQwIG0/edit?usp=sharing

[2015-03-26 15:43] benrito commented on #15
Will be separate—filing separate tickets later.

[2015-03-26 18:03] cecilepompei commented on #12
Notes from the call here:
https://foundation.etherpad.mozilla.org/souktel

[2015-03-27 13:34] benrito commented on #13
@anmechung's new document https://docs.google.com/a/mozillafoundation.org/document/d/1mTVBlb6V_nxDyGPClAvhxmLHLyVUdvsEK9GEVjReMMo/edit

[2015-03-27 14:45] benrito commented on #15
Please feel free to recommend and adjust. Aim to finalize with buy in from everyone in our organization by early next week.

[2015-03-27 14:49] lauradereynal commented on #15
Hey @benrito Currently adding a proposal at the end of your pad, for the field research - please have a look !

[2015-03-30 16:15] cecilepompei commented on #8
Can we re schedule the call @benrito ?

[2015-03-30 16:16] cecilepompei opened #18 "Sign MoU Dnet"
Driver: Cecile
Team: @benrito
Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1137797
- [x] Changes to the MoU (Dnet, dates) @cecile
  - [x]  Questions to ask internally @cecile
    - Dnet cannot send original of their receipts since they have to give that to their audit team
    - Need to collect Dnet payment details
  - [ ] Send Dnet payment (bank) detail @Ropum
  - [x] Receipts original

[2015-03-30 16:55] benrito opened #19 "Gates Foundation FSP: Subdivide research and writing"

[2015-03-30 16:57] benrito opened #20 "World Bank S4YE RFP: Final submission"

[2015-03-30 16:59] benrito opened #21 "Feedback on June delegation to Bangladesh"
Mozilla Learning & Webmaker in Bangladesh — market establishment proposal

Summary and objectives

Mozilla Foundation seeks to grow a global web literacy movement, and to someday offer certifications for mentors and learners in a global “virtual university” that encompasses programs like Mozilla Learning Networks (http://teach.mozilla.org) and the Mozilla Developer Network (http://developer.mozill

[2015-03-31 14:30] cecilepompei commented on #18
@benrito filling on bugzilla - Who can provide me the information about the branding guidelines?

[2015-03-31 18:26] benrito opened #22 "World Bank S4YE RFP: Final budget"

[2015-03-31 18:31] benrito commented on #16
Matt Hobson is the sponsor. If we decide to focus on a particular country, then we'll need to work with the Country Managing Unit.

[2015-03-31 18:31] #16 closed, assigned to nobody

[2015-03-31 21:10] edrushka commented on #5
@simonwex is this something Scott or Ali can do? If not, I'll need a dev from another "team" to tackle this.

[2015-04-01 05:47] simonwex commented on #5
No one on the team has any experience here, but this will be in Scott's wheelhouse.

[2015-04-01 13:37] cecilepompei commented on #12
@LauraReynal - we need to have a work session on preparing this, following the call with Souktel.

Here are the notes that summarize how we collect information from the participants that will receive mobile phones:

Questions to address:
- How long is the study piece of this?
  8 weeks
- How do we document?
  - [x]   intro interview

    then youth driven collection

    ask them to take photos /

[2015-04-02 14:58] cecilepompei commented on #12
Prepared an action plan with Souktel - notes here https://foundation.etherpad.mozilla.org/souktel

What do we need to solve?

[code]

When participants come and pick up forms there will be an intro interview - who writes the intro interview
Intro interview will be done by Souktel partner @Nicola
in case partner does not have the time, can do a google forum where ppants answer the questions online

[2015-04-02 21:27] benrito commented on #18
I’m not sure we have standard guidelines for partnership representation. As long as they’re not doing anything unusual with the trademark, we would be happy, and indeed proud, for Dnet to recognize us as a partner/client with a logo on their site.

Visually speaking, we do have a standard style guide: https://www.mozilla.org/en-US/styleguide

Beyond the logo—as long as we are given an opportunity

[2015-04-07 15:33] lauradereynal commented on #12
cc / @APLsmith

[2015-04-09 13:53] lauradereynal commented on #12
Hey @cecilepompei I drafted in details the research brief that you can find here
https://docs.google.com/document/d/1E7KhGLGGvHri_LQh2Q5_p6-Xe6JBR9Y_nPgEzVgQWZ8/edit?usp=sharing

It definitely needs a second pass - but its a good start to show @nicola and gather a first round of input.

However, I realised while doing this that I lack a lot of information about Souktel.
Could you create a 1 pager

[2015-04-09 14:04] lauradereynal commented on #12
Also, I am confused about your notes in the previous ticket " tecnics to show pictures of participants in their community" Could you expand please ?

[2015-04-09 14:04] #7 closed, assigned to nobody

[2015-04-09 14:14] cecilepompei commented on #12
@LauraReynal I cannot access your folder, and we had created a team folder for SOuktel phase 2
here: https://docs.google.com/a/mozilla.com/document/d/1KTZE17e-ZDnGkcr1NSx3nTsokAwpug9mMTSwagAQ4Fk/edit?usp=sharing
- in this Souktel folder, I have added the information you need under "Souktel details"
- pictures: its a Nicola action item. She will write little guidelines for people on how to take goo

[2015-04-09 15:00] lauradereynal commented on #12
@cecilepompei here is the folder (with only one doc for now)
https://drive.google.com/open?id=0B0X05aIHuAbedGFwRUotV2Y4Vms&authuser=0
Here is the document Souktel Research Brief
https://docs.google.com/document/d/1E7KhGLGGvHri_LQh2Q5_p6-Xe6JBR9Y_nPgEzVgQWZ8/edit?usp=sharing

[2015-04-09 18:15] cecilepompei commented on #11
Corina, any news on this? they have not answered my email

[2015-04-10 12:22] cecilepompei opened #23 "Prepare the Bangladesh Master Plan"
Driver: @Cecile
Team: @APLSmith @Laurareynal @benrito
Interested: @amirad @davidascher @secretrobotron @thisandagain

I have spent this morning with Alex (GSMA) to draft our master-action-plan-too-big-to-be-a-bug!

It is on this excel sheet Bangladesh-Master-Plan

To make the excel plan clear:
    - The objectives are the key strategic objectives to this project. It needs to define a measurable go

[2015-04-10 14:48] APLSmith commented on #12
@laurareynal Have added a few comments and questions on the Google Doc

[2015-04-11 16:39] lauradereynal commented on #23
thanks @cecilepompei a few points :
- How do you see the difference between a control group and a treatment group ? ( Dnet )
- I thought we agreed we would minimize the number of MNOS in order to minimize the workload and intermediairies in this project ?
- I had a look at the questions tab, and so far I can answer line 12 with this plan https://drive.google.com/open?id=1hnpXwboPWv_VLa_NiKHYDnWyIB

[2015-04-13 08:15] cecilepompei commented on #10
Hi All,

I am going to try and push for only a presentation on Mofo and Webmaker (mobile) for this class, where the students make an app using webmaker (they will probably try and do something Health, but doesnt have to be)

I have a few question for the team though to help me
- Do we have a deck presentation on Mofo? @HPaulJohnson  @benrito
- Do we have a little manual on how to use Webmaker mobi

[2015-04-13 11:12] cecilepompei commented on #23
- Control groups get the phone without any training and treatment groups are the ones that get phone + some training on digital literacy and webmaker -- right @APLSmith?
- I did not know we agreed to minimize the number of MNO (@Benrito?) - but I think the workshop can have everyone and we can gauge who wants to go further. I suspect not all MNO
- planning yes for research but what we thought with

[2015-04-13 12:04] lauradereynal commented on #23
Thanks @cecilepompei
I thought 2) was what we were doing in June. why Is it July ?

[2015-04-13 12:06] cecilepompei commented on #23
The workshop happens 10th lets say of june. The time to follow up with them
and make it happen - June research with the MNO seems impossible . But we
can discuss!
On 13 Apr 2015 14:04, "Laura de Reynal" notifications@github.com wrote:

[2015-04-13 12:31] cecilepompei commented on #18
we have added legal input on the MoU and Angela will sign this anytime now

[2015-04-13 13:12] cecilepompei commented on #12
@LauraReynal - now that we have the answers, do you need anything to help you draft the intro interview (And exit interview, but these are coming 8 weeks after)

@amirad - we have a group of young participants in an app maker intro day in Cambodia and Rwanda. They are now all given phones with webmaker on it and encouraged to create more apps and show them to their community.
How do we try and inv

[2015-04-13 13:16] lauradereynal commented on #12
@cecilepompei the intro and exit interviews are already drafted. We still need to figure out who will conduct them and how

When do you want this project to start ?

[2015-04-13 13:19] cecilepompei commented on #12
super! I was making sure the info does not change what you had drafted
before.
This should start when we have the phones in the hands of the participants
which is from 1 to 3 weeks Id say

On Mon, Apr 13, 2015 at 3:16 PM, Laura de Reynal notifications@github.com
wrote:

##

Cécile POMPEÏ
Mobile Service Lead, Webmaker.org
+44 75 98 490 115

[2015-04-13 19:16] amirad commented on #12
Some ideas on how to involve those in Cambodia/Rwanda:
•We're hiring a Curriculum Director who can test our new mobile curriculum with them. Just a thought but can look more into this once that person is hired.
•They might make for good people to join our club testers, club launchers or even testing @LauraHilliger how to teach like mozilla modules
•We assign them a regional coordinator that helps

[2015-04-13 20:52] cecilepompei commented on #12
Super @amirad , thanks for the input
Probably option 1 and 3 - so far, the people receiving the phones are going to be helping us testing webmaker, so hard to test everything on them if it makes sense.

maybe on our side, we collect feedback as well and see what kind of support they need, link them with the local community?

[2015-04-13 20:55] amirad commented on #12
Sure. I think building in some sort of training or info on how to start a club and registering those that want to be more involved/start a club is a good start. We can take that group and assign them RC's and use them to share continuous club material.

[2015-04-13 20:57] cecilepompei commented on #12
do we have this info on starting a club?
i will make sure we add to the exit interview whether they would want to
teach digital literacy, how often, etc @laurareynal

On Mon, Apr 13, 2015 at 10:55 PM, Amira notifications@github.com wrote:

##

Cécile POMPEÏ
Mobile Service Lead, Webmaker.org
+44 75 98 490 115

[2015-04-13 21:01] amirad commented on #12
Info will be on teach.mozilla.org when it launches next heartbeat

[2015-04-15 18:23] secretrobotron commented on #10
- There are a couple quick gifs on the homepage that show what Webmaker App does: https://webmaker.org/app
- The script we used for MWC which shows motivations for the app and how to use it: https://docs.google.com/a/mozillafoundation.org/presentation/d/16fOMRKqvbDl_UknsdN8EFTX9iB18iWd8FpaTFvfqjqg/edit#slide=id.g61fa25a70_037 (might fulfill what you need for a MoFo preso as well)

[2015-04-16 07:58] anmechung commented on #13
Proposal submitted to World Bank on April 6, 2015.

[2015-04-16 15:41] cecilepompei opened #24 "Decide who will show Webmaker in Bangladesh"
Driver: Cecile
reference: https://docs.google.com/a/mozillafoundation.org/spreadsheets/d/1gcjul0xAQQZoVXsX9fRUoKMwNPt9swYrQSMd1bVnxyE/edit#gid=1985808196
Team: @amirad @laurareynal
Interested: @benrito @APLSmith

For the Bangladesh research on Webmaker starting in May (to prove whether giving phones to Youth with webmaker on it and a bit of training supports local content creation)

1) @Laurareyna

[2015-04-16 15:43] cecilepompei opened #25 "Sourcing phones for Bangladesh"
Driver: Cecile
reference: https://docs.google.com/a/mozillafoundation.org/spreadsheets/d/1gcjul0xAQQZoVXsX9fRUoKMwNPt9swYrQSMd1bVnxyE/edit#gid=1985808196
Team: @benrito
Interested: @APLSmith @thisandagain @laurareynal

@benrito - we need to support Dnet into sourcing phones for the research, starting beginning of May
- what kind of phones shall they get?
- locally or shall we send the phones to th

[2015-04-16 16:06] amirad commented on #24
Show them how to use the **new** webmaker tool?

Salman, Tanha, Maliha have all taught at events while using past Webmaker tools and we can reach out to them. Salman has been very actively engaged with Webmaker over the past couple years, I might start with him. Maybe @laurareynal has a preference?

[2015-04-16 18:40] lauradereynal commented on #24
Happy to do a prep call with both salman and Zak
Will reach out to them
 On Apr 16, 2015 11:06 AM, "Amira" notifications@github.com wrote:

[2015-04-17 08:32] cecilepompei commented on #24
Super, thank you to you both
The timeline is for probably the Mozilian to do this training first week of May - would that work for you?

[2015-04-17 09:31] #23 closed, assigned to nobody

[2015-04-18 20:03] benrito commented on #25
Android 4.2 — preferred protocol is for them to get a quote from local vendor, we OK, they buy, and they invoice us. But we can be flexible.

We should want cheap, low-end phones that are fairly representative of what’s popular in the market.

Cheers!
Ben

[2015-04-20 12:40] #13 closed, assigned to benrito

[2015-04-20 12:41] #22 closed, assigned to nobody

[2015-04-20 12:41] #17 closed, assigned to nobody

[2015-04-20 17:20] cecilepompei commented on #24
cc @benrito
Ben is recommending Zak
Are we good to do that?

[2015-04-24 12:37] lauradereynal commented on #24
The first week of may is really soon

! I just finished talking with Zak, he is on-board but we have lots of work to do for this training. All what we teach will influence the research outcome.
Im thinking we want to know if basic understanding of the internet and digital literacy will influence usage of smartphone. We can show webmaker, but I think the literacy part will be the most interesting.

[2015-04-24 12:38] lauradereynal commented on #25
ALSO, can  you guys plan for data plans ?
We need to give money to those people if we expect them to use mobile data

[2015-04-24 12:42] lauradereynal opened #26 "Dnet - Bangladesh - Create training"
cc/ @cecilepompei @benrito @amirad @APLsmith

@jaggedzak and Laura will think about what to teach during the Dnet training. What we teach will influence the research so we need a precise plan.

Also need to figure out if we teach one time or several times ?
- Digital literacy basics,
- Device basics
- Mobile data and pricing
- Surfing the web
- Webmaker
  .....

[2015-04-24 13:29] benrito commented on #24
Awesome, thank you for update. Seems we might want to lean in a bit and view this as a curriculum generation task (and running the training per this curriculum as the last step). Resources may be available for this.

Alex and Cecile and I are working on strategy today, and this fits in very nicely with where we’re going. Documentation coming soon but perhaps 15 minute call would be well spent.

[2015-04-24 13:29] benrito commented on #25
Yes!

[2015-04-24 13:30] lauradereynal commented on #24
I agree with 15 mins call
Can you do right now ? On my way to interviews - after that its back to
back
On Apr 24, 2015 8:29 AM, "Ben Moskowitz" notifications@github.com wrote:

[2015-04-24 19:39] cecilepompei opened #27 "Bangladesh research - track data usage"
Driver: @APLSmith
Team @benrito @Laurareynal

We need to find an app that tracks data usage or a way to remotely access the data usage for the research in Bangladesh

Timeline : next week :)

[2015-04-27 13:07] APLSmith commented on #27
This seems to be the only app with .csv export.
https://play.google.com/store/apps/details?id=net.rgruet.android.g3watchdogpro&hl=en

Costs $3.

Anyone find any alternatives?

[2015-04-27 14:41] lauradereynal commented on #27
What are we aiming to observe exactly ? What would we access ?  For how
long ? Would it be anonymized ?

@thisandagain and @secretrobotron can you advise ?

_Laura de Reynal_
Webmaker - Field Research
@lau_nk https://twitter.com/lau_nk
Skype: laura-dereynal

On Mon, Apr 27, 2015 at 8:07 AM, Alexander P L Smith <
notifications@github.com> wrote:

[2015-04-27 15:22] APLSmith commented on #27
What are we aiming to observe exactly ? <i> Data usage patterns, apps used </i>
What would we access ?  <i> Nothing. At the exit interview, DNet would need to get a record of data used over period </i>
Would it be anonymized? <i> Yes - DNet wouldn't need to send us names </i>

[2015-04-27 18:25] #24 closed, assigned to nobody

[2015-04-27 18:25] #18 closed, assigned to nobody

[2015-04-27 18:27] #12 closed, assigned to nobody

[2015-04-27 18:36] cecilepompei opened #28 "Souktel - how do we communicate around this project?"
Driver: Cecile
Team: @laurareynal @benrito @amirad

Hi team,
Based on this phase 2 where participants receive phones with Webmaker on it,
how do we want to communicate around this?

I think it is important enough to dedicate some effort and the participants have been very involved in the project and therefore it is a great project to illustrate!

Options:
- Laura goes to Cambodia or Rwanda (both s

[2015-04-27 21:17] thisandagain commented on #27
Thanks for clarifying @APLSmith .

Watchdog Pro is the best option that I know of based on your needs. Does our standard release cover a use case as potentially sensitive (PII + personal) as this? We need to make sure this works with our data retention policies and that we have an agreement / approach for anonymization in place with dnet.

cc @adamlofting @LauraReynal @davidascher

[2015-04-27 22:35] davidascher commented on #27
There's no way we can move on this and have an answer by next week.  I'm not quite sure I understand the motivations anyway.  Please, more justification for what this data would be useful, for whom, etc.

[2015-04-28 11:19] APLSmith commented on #27
Thanks @thisandagain. This would obviously have to be incorporated into the release form.
@cecilepompei who is going to be responsible for that?

@davidascher the hypothesis here is that those in the treatment group will exhibit higher levels of data use and explore a wider range of services. This is primarily for the operators who very much think in those terms.  Thoughts?

[2015-04-28 12:49] cecilepompei commented on #27
@APLSmith - you are in charge, it is the research part.
I have added it in our project management tool, line 13
https://docs.google.com/a/mozillafoundation.org/spreadsheets/d/1gcjul0xAQQZoVXsX9fRUoKMwNPt9swYrQSMd1bVnxyE/edit#gid=1985808196

On Tue, Apr 28, 2015 at 12:19 PM, Alexander P L Smith <
notifications@github.com> wrote:

##

Cécile POMPEÏ
Mobile Service Lead, Webmaker.org
+44 75 98 490 115

[2015-04-28 13:05] benrito commented on #27
With opt-in and user consent, we are looking to record:

•total data consumption in 4 week cycle
•time series of how much data consumed over time
•per app breakdown

And compare a control group with a test group that receives a brief digital skills training.

This is the same data that is provided by the Android system data management monitor, but we are not aware of any way to export that data (h

[2015-04-28 14:34] adamlofting commented on #27
I'm not sure who all the parties involved here are, and some of that will make a difference (mainly is Mozilla doing the research and collecting the data?).

These are the practices we need to comply with for collecting and storing data as MoFo: https://mana.mozilla.org/wiki/display/DATAPRACTICES/Foundation+Data+Practices (sorry behind LDAP)

If we were collecting just data consumption data (and p

[2015-04-28 20:52] lauradereynal commented on #28
Do we know potential dates and budget for coms ? It would help inform a decision.

[2015-04-28 21:33] benrito commented on #27
Hi @adamlofting,

Could you help be our sherpa? I believe there is minimal exposure if we design the research carefully, and want to avoid opening a protracted / abstract discussion with legal (which we know can happen).

Dnet is directly performing the research on behalf of Mozilla. They are a contractor with an agreement on file.

The plan is to:

[code]

Let’s have a discussion on what level of

[2015-04-29 12:06] APLSmith commented on #27
In addition to @benrito above. A way we could collect this data is through a survey form like:
https://gsma.co1.qualtrics.com/jfe/form/SV_cINfZ78nVNHfDRb

DNet would enter the data directly into the above form (this is the GSMA's survey account - the survey itself can only be accessed by myself).

I actually met @adamlofting yesterday at Mozilla (nice to meet you Adam!). If you are willing to take

[2015-04-29 17:02] cecilepompei commented on #25
Are we happy with this?
- ```
       Brand: Symphony (Symphony is the most popular and representative brand in Bangladesh in perspective of user)
[code]
- ```
       Operating System: Android 4.4.2 Kit Kat (most available in Bangladesh now)
[code]
- ```
       RAM: 1 GB
[code]
- ```
       Display: 4”
[code]

[2015-04-29 17:06] APLSmith commented on #25
Looks good to me @cecilepompei

Price is ~75 USD (~5840 taka) according to the internet.

[2015-04-29 17:08] thisandagain commented on #25
:+1: @cecilepompei

Can we get two test devices ASAP? One shipped to the Portland office and one to the Toronto office should be sufficient.

/cc @k88hudson

[2015-04-29 17:09] benrito commented on #25
cc @thisandagain

[2015-04-29 17:09] benrito commented on #25
If we can order offline, we can use a Mozilla card

[2015-04-30 09:24] adamlofting commented on #27
All the extra context helps greatly with understanding the project (especially the informed consent and data minimization piece).

As discussed with @cecilepompei and @APLSmith in the office, I'm on PTO next week, but if you can prepare a 1-page explanation of the project by COP today I'll get this bug filed in the right place before I'm off. You'll need to keep this moving in my absence though.

[2015-04-30 14:25] davidascher commented on #27
Need to figure out how to remove data collection app at end of trial as
well.

[2015-04-30 16:08] APLSmith commented on #27
Thanks @adamlofting. I have sent you a 1 pager.

On your comments:
1. Agree totally on the extra fields (what I put up was just a rough sketch).
1. This won't be a peer reviewed piece. Completely agree on the point about statistical significance. This is meant to be a quick and dirty initial test - whatever the result, one of the recommendations  will be

@davidascher

I think we will just use the

[2015-04-30 16:55] edrushka commented on #5
@benrito can you please help get @alicoding set up with a dev account and access to the sandbox instance so he can begin to tackle this? ty

[2015-04-30 17:10] benrito commented on #5
Holding on whether Lynn believes this is still a priority

[2015-05-01 10:27] adamlofting commented on #27
1 pager received, thanks. And the bug has been filed with legal.

I think it's in a good place, with a well defined scope and answers for the key points in our data practices. But if they have any concerns the should reach out to @cecilepompei or @benrito

[2015-05-05 12:43] cecilepompei commented on #25
So we had to move since the research starts 16th May - Dnet is purchasing these phones
shall I still send 2 to the US?
(sent an email to you Andrew on process around this)

[2015-05-05 12:56] benrito commented on #25
yes—

can we order the 2 directly from an e-retailer, rather than having dnet do it?

[2015-05-05 12:57] #10 closed, assigned to cecilepompei

[2015-05-05 18:26] cecilepompei opened #29 "Information to share with partners on Webmaker"
@secretrobotron @HPaulJohnson

Could I have some information to share with our partners on Webmaker (the version beta) for Bangladesh pls?
I simply need to share with them what Webmaker is about since they help us implement the research and want to know more

[2015-05-05 20:21] secretrobotron commented on #29
Hey @cecilepompei
- This is probably the most high-level overview of Webmaker for 2015 that you can use (by @HPaulJohnson): https://docs.google.com/presentation/d/1NUuAMUQyWARf5ul7zRaE6qoH0CcxVCYrOZpbdgUtDUI/edit#slide=id.g61dbf6ada_211
- @xmatthewx has also been maintaining an "intro" deck which is a bit more detailed about the specifics of the platform: https://docs.google.com/presentation/d/1fd

[2015-05-05 20:22] secretrobotron commented on #29
Keep in mind: we're hard at work on producing better public-facing docs about Webmaker right meow. So, Webmaker 2015 might improve soon as we write our marketing playbook.

:cat:

[2015-05-07 12:32] cecilepompei commented on #25
There is no online shops in BD to get this directly, and DHL said they could not ship this to the US (customs forbid batteries)
I am working on alternative solutions right now

[2015-05-07 15:31] #27 closed, assigned to nobody

[2015-05-07 15:31] #11 closed, assigned to nobody

[2015-05-08 22:20] edrushka commented on #5
@benrito Did you connect with Lynn? Still want to do this?

[2015-05-11 14:06] adamlofting commented on #5
I've created Salesforce accounts for @ScottDowne and @alicoding now.

I did some proof of concept work on something very similar last year when we started migrating the engagement pipeline data from Google Docs to Salesforce for the [Gauntlet Dashboard](http://gauntletdash.herokuapp.com/).

@simonwex @ScottDowne @alicoding you'll probably be happy to see [JSForce](https://jsforce.github.io/) which

[2015-05-11 21:22] edrushka commented on #5
Killing this. No longer needed.

[2015-05-11 21:22] #5 closed, assigned to ScottDowne

[2015-05-21 15:12] #26 closed, assigned to nobody

[2015-05-21 15:13] #25 closed, assigned to nobody

[2015-05-21 15:21] cecilepompei opened #30 "Prepare the Souktel phase 2 - research SOW"
Phase 2 - CASE STUDY “Mobile content creation by first mobile phone users”

Research Objective
Souktel and Mozilla Foundation will together conduct qualitative research to show that local content creation can be done on mobile and be spread virally (because it is so easy to share).
This research will help Mozilla Foundation to understand how to virally spread a mobile local content creation tool.

[2015-05-21 17:31] cecilepompei opened #31 "How to work with MNO framework"
Framework and presentation on how to work with MNO

Goal
1) support prepare GTM strategy
2) prepare workshop 5th and 6th July

Driver: @cecile
Team: @benrito @HPaulJohnson @laurareynal @HPaulJohnson @secretrobotron

[2015-05-21 17:32] #28 closed, assigned to nobody

[2015-05-21 17:35] lauradereynal commented on #30
@cecilepompei
Can you add a tentative timeline please?

Sent from a mobile device.
On May 21, 2015 4:21 PM, "cecilepompei" notifications@github.com wrote:

[2015-05-21 17:38] cecilepompei commented on #30
it is written in the document (your research brief) - added a lot of
details:

proposed timeline:
- mid june / mid august

On Thu, May 21, 2015 at 6:35 PM, Laura de Reynal notifications@github.com
wrote:

##

Cécile POMPEÏ
Mobile Service Lead, Webmaker.org
+44 75 98 490 115

[2015-05-26 16:58] #8 closed, assigned to nobody

[2015-05-26 16:58] #14 closed, assigned to benrito

[2015-05-26 16:58] #19 closed, assigned to nobody

[2015-05-26 16:58] #20 closed, assigned to nobody

[2015-05-28 22:43] edrushka commented on #6
I guess Ben is more of a dog person.

[2015-05-28 22:43] #6 closed, assigned to nobody

[2015-05-28 22:45] secretrobotron commented on #6
![ev6qmqhyggykzjmplopk0xs_4ynhhgej4ox0dlb40re](https://cloud.githubusercontent.com/assets/403231/7872883/bebb6890-0569-11e5-9caf-a0b86c8cf2aa.jpeg)

[2015-05-28 23:15] edrushka commented on #6
![benlovescats](https://cloud.githubusercontent.com/assets/4515662/7873253/c0dab44c-0554-11e5-921d-31f44be95074.jpg)

I'm just going to leave this here.

[2015-05-29 07:57] benrito commented on #6
![benfight](https://cloud.githubusercontent.com/assets/541325/7878632/e192710e-05e8-11e5-86b3-d70647c7fc0f.png)

[2015-06-05 16:01] cecilepompei opened #32 "Business cards for 5/6th July in Bangladesh"
cc @benrito

Could we try and have some business cards in Bangladesh?
Even team business cards would be great

[2015-06-05 19:50] benrito commented on #32
Any progress on your regular biz cards?

Let me know and we’ll make some moves.

[2015-06-06 05:46] cecilepompei commented on #32
Strictly no news on my business cards!
On 5 Jun 2015 20:50, "Ben Moskowitz" notifications@github.com wrote:

[2015-06-15 15:25] #30 closed, assigned to nobody

[2015-06-15 15:26] #31 closed, assigned to cecilepompei

[2015-06-15 15:40] cecilepompei opened #33 "Bangladesh - Design a Marketing plan"
For the workshop in Bangladesh, we need a marketing plan to present to MNO

Timeline? 2nd of July
Who? Cecile, @HPaulJohnson @secretrobotron
Team: @benrito @laurareynal @APLSmith

Structure:
1. target customers
2. USP
3. positioning
4. distribution plan
- Above the line options
- Below the line options

[2015-06-15 15:42] cecilepompei opened #34 "Bangladesh - Finalise the agenda for the 5th of July"
Driver: @Cecile
Team: @benrito @APLSmith

Waiting for the call with A2I to finalise agenda

[2015-06-15 15:42] cecilepompei opened #35 "Bangladesh - finalise the agenda for the 6th of July"
Driver: @APLSmith
 Team: @cecile @APLSmith

[2015-06-15 15:43] cecilepompei opened #36 "Bangladesh - Prepare invitations for the events of the 5th and 6th"
Driver: @Cecile @APLSmith
Team: @benrito

[2015-06-17 13:20] cecilepompei commented on #33
Shall we have a quick call about this?
https://docs.google.com/document/d/1znHrt8HrRbbs-zl-RTviAbp5uOBdTXMj9UsalhT1JZw/edit

[2015-07-25 03:55] metaphorista opened #37 "Develop Mozilla Learning Institutional Funding plan"
@RebsD, @benrito @bhuvanshri

Build on conversation in Whistler

[2016-01-30 00:41] #37 closed, assigned to nobody

[2016-01-30 01:04] metaphorista opened #38 "2016 Fundraising Plan"
Develop new fundraising plan reflecting MLN vision, initial draft is here
https://docs.google.com/document/d/1amw7W5oUWjYIXFhmbX4VneD4DzlxfqOrcKP-WzYWVbI/edit#
@jessiekeating and Kalpana

[2016-01-30 01:31] metaphorista opened #39 "CIRA proposal"
Complete CIRA proposal on Cyber-bullying for Hive Toronto/Canada
Due March 4th by 2 pm -or before
guidelines https://cira.ca/node/7213
Tasks
- Internal review of Logic Model
- Secure internal approval
- participate in webinar 2/9
- develop narrative
- develop project budget
- collect final sign offs
- enter into submission systems

@jessiekeating

[2016-01-30 01:40] metaphorista opened #40 "Create user-friendly RACI for proposal development and execution"
Original

[2016-01-30 21:02] metaphorista opened #41 "Develop, Discover, and Organize Materials for Proposal development"
Co-create tools such as fact sheets, standardize explanations of approach, research-basis, impact, etc. for efficient proposal creation
@jessiekeating

[2016-02-01 11:03] metaphorista opened #42 "Research on funding landscapes of potential Gigabit cities"
As part of the selection process for the gigabit expansion cities, we need to assess the local funding landscape.

Double check with Lindsey that this is the correct/complete inventory of candidate cities https://docs.google.com/spreadsheets/d/1Z6KHMcAiK5WXyAAorQlNwQw_-sBSohEUjVsiGSzT-k8/edit?ts=56942826#gid=2073489223
Draft format for report & refine according to Gigabit team
Conduct research (in

[2016-02-01 20:06] jessiekeating commented on #39
Revamping initial plan/ask based on cyberbullying work already underway with The Equality Project.

[2016-02-05 14:56] metaphorista opened #43 "Pipeline Development and Review"
Next Steps Re Pipeline
Prospect research
https://docs.google.com/spreadsheets/d/11E5f6aMYnWWYbDZrlrQqvlduxlwojZoPrw-zKPyDg4o/edit#gid=0

integrated into Hubs and research
https://docs.google.com/spreadsheets/d/11E5f6aMYnWWYbDZrlrQqvlduxlwojZoPrw-zKPyDg4o/edit#gid=0

cross check with Pipeline Overview 2016-18 (recovered)
https://docs.google.com/spreadsheets/d/1K62l7Vs1vPwT-dsbqPMD1jW4HesnihrDCqSuWv

[2016-02-05 15:02] jessiekeating opened #44 "Test - JEssie"

[2016-02-05 15:02] jessiekeating commented on #44
@metaphorista

[2016-02-10 22:59] metaphorista commented on #44
What did the janitor yell when she jumped out of the closet?

[2016-02-10 23:12] jessiekeating commented on #44
SUPPLIES!
What did Ron Goldman say to Nicole Brown Simpson when he ran into her in Heaven?

[2016-02-10 23:27] metaphorista commented on #44
oooooh I have no idea..... can't wait....

[2016-02-10 23:32] jessiekeating commented on #44
Here's your fucking glasses.

[2016-02-11 00:14] metaphorista opened #45 "Gigabit Expansion Funding Landscape Review"
Delay for final 5-7 candidate cities

current city list is  https://docs.google.com/document/d/16wn2ycmZykYrELKGl7Yvx6yVAO3LnvELp1b1pfNoSLw/edit#

[2016-02-11 00:20] metaphorista commented on #39
Draft framework
https://docs.google.com/document/d/1tgyxYvXuwlP6Hx7bmg6vW4hkl27VUXAYzGSbme9Iz5Y/edit#
the proposal prompt

https://docs.google.com/document/d/1ANA6a0K0Qpl6JsrQDn5i6x-IBN7buaaGd9DDISl2ZuA/edit?ts=56b4ca0e

Additional resources
https://www.mozillascience.org/hive-chicago-buzz

[2016-02-11 13:31] metaphorista commented on #44
My cultural references are slipping -- I had to google this because I had started to confuse NBS with Anna Nicole Smith...  : )

[2016-02-11 14:06] jessiekeating commented on #44
It helps that I'm married to "Dan"ipedia when it comes to cultural references. Also, I'm watching The People Vs. OJ SImpson diligently right now on Fox. It's CRACK I tell you. I was a journalist at the Oakland Trib in CA while all this was happening in '94. The entire newsroom was gathered around the TV with the rest of America and just. salivating.

[2016-02-14 14:12] #36 closed, assigned to nobody

[2016-02-14 14:12] #34 closed, assigned to nobody

[2016-02-14 14:12] #32 closed, assigned to nobody

[2016-02-14 14:16] metaphorista commented on #39
New Logic Model
https://docs.google.com/document/d/1yEUp0HLjg6hN9hE50OE3ISi5VpE_qSyosQbvYEJkeDQ/edit

[2016-02-20 02:08] metaphorista commented on #39
New Logic Model
https://docs.google.com/document/d/1yEUp0HLjg6hN9hE50OE3ISi5VpE_qSyosQbvYEJkeDQ/edit

New project time line
https://docs.google.com/spreadsheets/d/1umtpDmgA1jytoRIkKqJmyJCFFnQVQ78IcHxBzB5Pi60/edit#gid=989915141

[2016-03-22 15:13] metaphorista opened #46 "Bellagio Center IoT Grant"
basic grant covers a 3 day event in Italy for up to 22 people. They cover all of the facilities/ amenities costs, plus potentially travel for participants that would increase the diversity of the convening.

I think it is a great exercise in general and, as an event, could help catalyze our thinking and partnership development.
https://www.rockefellerfoundation.org/our-work/bellagio-center/confere

[2016-04-04 18:27] metaphorista opened #47 "Spencer Foundation Hive Chicago grant"
Partner Outlier http://outlier.uchicago.edu/outlier/research/

Jeanne (Jean -nie)
Notes
https://docs.google.com/document/d/1qdkjR47zKe6fSZr1UQOiiEZ7Jl-m4B5K3SK0tAyn6xc/edit

[2016-04-04 18:34] metaphorista opened #48 "Fund for Shared insight proposal"
http://www.fundforsharedinsight.org/grants/foundation-openness

The DEETS
The Fund for Shared Insight (which pools money from 30 different funders including MacArthur) is distributing $2 million in grants "to support efforts to increase foundation openness in service of effectiveness." Note their motivation/focus is on effectiveness, more than "openness" per se. Based on the last open funding soli